body{
    background-color: blueviolet!important;
}

@media (min-width:993px){
    /*Desktop exra large*/
    body{
        background-color: red!important;
    }

}

@media (min-width: 769px) and (max-width: 992px){
    /*Desktop large*/
    body{
        background-color: rgb(255, 123, 0)!important;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    /*Tablet*/
    body{
        background-color: #fbff00!important;
    }
}

@media (min-width: 321px) and (max-width:480px){
    /*mobile large*/
    body{
        background-color: rgb(0, 255, 21)!important;
    }
}

@media (max-width: 320px){
 /*mobile small*/
    body{
        background-color: rgb(0, 81, 255)!important;
    }
}